{% extends "page.html" %}
{% block main %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var button = document.getElementById('eye');
    button.addEventListener("click", function (e) {
      var pwd = document.getElementById("pwd");
      if (pwd.getAttribute("type") == "password") {
        pwd.setAttribute("type", "text");
        button.textContent = "🔑";
      } else {
        pwd.setAttribute("type", "password");
        button.textContent = "👁";
      }
    });
  });
</script>
{% block login %}

<body id="banner">
  <div class='container branding'>
    <div class="logo" <a href="/hub/"><img src='https://i.imgur.com/oTnbbI5.png'></a>
    </div>
  </div>
  <div id="grid">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </div>
</body>
<div id="login-main" class="container">
  <form action="{{post_url}}" method="post" role="form">
    <div class='auth-form-body'>
      <label>Nome de Usuário:</label>
      <input type="" class="form-control" name="username" id="username_input" tabindex="2" required />
      {% if ask_email %}
      <label>E-mail:</label>
      <input type="" class="form-control" name="email" id="email_input" tabindex="2" required />
      {% endif %}
      <label for='password_input'>Senha:</label>
      <div class="input-group">
        <input type="password" class="form-control" name="pw" id="pwd" tabindex="2" required />
        <span class="input-group-addon">
          <button style="border:0;" type="button" id="eye">
            👁
          </button>
        </span>
      </div>
      <p></p>
      {% if two_factor_auth %}
      <label>Adicione autenticação de dois fatores:</label>
      <input type="checkbox" name="2fa" value="2fa">
      {% endif %}
      <input type="submit" id="signup_submit" class='btn btn-jupyter' value='Criar Usuário' tabindex="3" />
      <div style="padding-top: 25px;">
        <p>Já possui um nome de usuário? <a href="/login">Faça login!</a></p>
        <p><a href="http://hub.insightlab.ufc.br:8080/">Informações de Acesso e Feedback</a>.</p>
        <hr>
        <a href="https://jupyter.org/" target="_blank"><img src='https://i.imgur.com/ruTBIX0.png'></a>
      </div>
      {% if alert %}
      <div class="alert {{alert}}" style="margin-top: 15px;" role="alert">
        {{result_message}}
        {% if two_factor_auth_user %}
        <p>
          <p />
          <strong>Atenção!</strong> Você configurou a autenticação de dois fatores.
          <br />
          Seu código de autenticação de dois fatores é <strong>{{ two_factor_auth_value }}</strong>. Certifique-se de
          mantê-lo seguro :)
          {% endif %}
      </div>
      {% endif %}
    </div>
</div>
</form>
</div>
{% endblock login %}
<style>
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #072238;
    padding-top: 20px;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  img {
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .branding img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: table;
    position: relative;
    max-width: 320px;
    max-height: 100px;
  }

  #login-main {
    margin-top: 1%;
    height: 100%;
  }

  #login-main .auth-form-header {
    padding: 10px 20px;
    color: #fff;
    background: #072238;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
  }

  #login-main .auth-form-body {
    padding: 20px;
    font-size: 14px;
    border-top: none;
    background-color: white;
    border-radius: 0 0 3px 3px;
    border-color: #072238;
    color: white;
    position: relative;
  }

  #login-main form {
    vertical-align: center;
  }

  .btn-jupyter {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    display: inline-flex;
    height: 44px;
    justify-content: center;
    padding: 0 24px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    font-weight: 500;
    position: relative;
    border-bottom-color: #28a745;
    border-left-color: #28a745;
    border-right-color: #28a745;
    border-top-color: #28a745;
  }

  .btn-jupyter:hover {
    background-color: #2670e8;
    border-color: #2670e8;
    color: #ffffff;
    text-decoration: none;
  }

  .input-group,
  input[type=text],
  button {
    width: 100%;
    position: relative;
  }

  input[type=submit] {
    margin-top: 16px;
    position: relative;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .form-control:focus,
  input[type=submit]:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px blue;
    border-color: blue;
    outline-color: blue;
  }

  .navbar {
    display: none;
  }

  .navbar-default .navbar-toggle {
    border-color: #ddd;
    display: none;
  }

  /*Ajustes do Bootstrap*/

  .btn-jupyter.focus,
  .btn-jupyter:focus {
    box-shadow: 0 3px 6px -3px #1351b4;
    outline: 0;
  }

  .btn-jupyter.active,
  .btn-jupyter:active,
  .open>.dropdown-toggle.btn-jupyter {
    color: #fff;
    background-color: rgb(21, 105, 201);
    background-image: none;
    border-color: rgb(21, 105, 201)
  }

  .btn-jupyter.active.focus,
  .btn-jupyter.active:focus,
  .btn-jupyter.active:hover,
  .btn-jupyter:active.focus,
  .btn-jupyter:active:focus,
  .btn-jupyter:active:hover,
  .open>.dropdown-toggle.btn-jupyter.focus,
  .open>.dropdown-toggle.btn-jupyter:focus,
  .open>.dropdown-toggle.btn-jupyter:hover {
    background-color: #2670e8;
    border-color: #2670e8;
    color: #ffffff;
    text-decoration: none;
  }

  .btn-jupyter.disabled.focus,
  .btn-jupyter.disabled:focus,
  .btn-jupyter.disabled:hover,
  .btn-jupyter[disabled].focus,
  .btn-jupyter[disabled]:focus,
  .btn-jupyter[disabled]:hover,
  fieldset[disabled] .btn-jupyter.focus,
  fieldset[disabled] .btn-jupyter:focus,
  fieldset[disabled] .btn-jupyter:hover {
    background-color: #2670e8;
    border-color: #2670e8;
    color: #ffffff;
    text-decoration: none;
  }

  .btn-jupyter .badge {
    color: rgb(21, 105, 201);
    background-color: #fff;
  }

  .jpy-logo {
    height: 28px;
    margin-top: 6px;
  }

  #header {
    border-bottom: 1px solid #e7e7e7;
  }

  .hidden {
    display: none
  }

  #progress-log {
    margin-top: 8px;
  }

  .progress-log-event {
    border-top: 1px solid #e7e7e7;
    padding: 8px
  }

  i.sort-icon {
    margin-left: 4px;
  }

  div.error {
    margin: 2em;
    text-align: center;
  }

  div.ajax-error {
    padding: 1em;
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  div.ajax-error hr {
    border-top-color: #e4b9c0;
  }

  div.ajax-error .alert-link {
    color: #843534;
  }

  div.error>h1 {
    font-size: 300%;
    line-height: normal;
  }

  div.error>p {
    font-size: 200%;
    line-height: normal;
  }

  #login-main #insecure-login-warning {
    background-color: #fcf8e3;
    padding: 10px;
  }

  a#login-main #insecure-login-warning:focus,
  a#login-main #insecure-login-warning:hover {
    background-color: #f7ecb5;
  }

  #login-main .service-login {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: auto auto 20% auto;
  }

  #login-main form {
    display: table-cell;
    vertical-align: middle;
    margin: auto auto 20% auto;
    width: 350px;
    font-size: large;
  }

  #login-main .input-group,
  #login-main button,
  #login-main input[type=text] {
    width: 100%;
  }

  #login-main input[type=submit] {
    margin-top: 16px;
  }

  #login-main .form-control:focus,
  #login-main input[type=submit]:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(21, 105, 201);
    border-color: rgb(21, 105, 201);
    outline-color: rgb(21, 105, 201);
  }

  #login-main .login_error {
    color: rgb(21, 105, 201);
    font-weight: 700;
    text-align: center;
  }

  #login-main .auth-form-header {
    padding: 10px 20px;
    color: #fff;
    background: rgb(21, 105, 201);
    border-radius: 3px 3px 0 0;
  }

  #login-main .auth-form-body {
    padding: 20px;
    font-size: 14px;
    border: thin silver solid;
    border-top: none;
    border-radius: 0 0 3px 3px;
  }

  /* Banner */

  #banner {
    padding: 0em 0em 0em 0em;
    background: rgb(5, 32, 55);
    background: radial-gradient(circle, rgba(5, 32, 55, 1) 0%, rgba(5, 32, 55, 1) 40%, rgba(10, 58, 86, 1) 100%);
    overflow: hidden;
  }

  #banner h1 {
    font-size: 3.5em;
    font-weight: 100;
    color: #fff;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  #banner p {
    font-size: 1em;
    color: black;
    position: relative;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    #banner {
      background-attachment: scroll;
    }

  }

  @media screen and (max-width: 1600px) {

    #banner {
      padding: 0em 0em 0em 0em;
    }

  }

  @media screen and (max-width: 1920px) {

    #banner {
      padding: 0em 0em 0em 0em;
    }

  }

  @media screen and (max-width: 1680px) {

    #banner {
      padding: 0em 0em 0em 0em;
    }

  }

  @media screen and (max-width: 1280px) {

    #banner {
      padding: 0em 0em 0em 0em;
    }

  }

  @media screen and (max-width: 980px) {

    #banner {
      background-attachment: scroll;
    }

  }

  @media screen and (max-width: 736px) {

    #banner {
      padding: 0em 0em 0em 0em;
    }

    #banner h1 {
      font-size: 2.5em;
    }

    #banner p {
      font-size: .9em;
    }

  }

  @media screen and (max-width: 480px) {

    #banner {
      padding: 0em 0em 0em 0em;
    }

  }

  /* Logo Flutuante */

  .logo {
    margin-top: 5px;
  }

  /* Stars */
  #grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }

  #stars {
    will-change: transform;
    position: auto;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1561px 1632px #FFF, 964px 926px #FFF, 801px 1141px #FFF, 1968px 1226px #FFF, 1691px 351px #FFF, 728px 258px #FFF, 950px 931px #FFF, 1604px 1877px #FFF, 1500px 736px #FFF, 247px 677px #FFF, 1577px 1917px #FFF, 1973px 1383px #FFF, 846px 1856px #FFF, 743px 1502px #FFF, 770px 1592px #FFF, 468px 353px #FFF, 472px 1799px #FFF, 691px 1185px #FFF, 548px 1968px #FFF, 1692px 1260px #FFF, 584px 673px #FFF, 8px 210px #FFF, 1939px 1867px #FFF, 1557px 251px #FFF, 1998px 1087px #FFF, 1758px 113px #FFF, 1304px 1062px #FFF, 677px 468px #FFF, 1553px 1895px #FFF, 223px 285px #FFF, 1932px 231px #FFF, 455px 211px #FFF, 300px 625px #FFF, 1849px 685px #FFF, 1171px 1388px #FFF, 1564px 1058px #FFF, 487px 1691px #FFF, 890px 1136px #FFF, 691px 1398px #FFF, 1455px 332px #FFF, 1797px 829px #FFF, 1059px 1576px #FFF, 1207px 37px #FFF, 831px 1809px #FFF, 959px 738px #FFF, 75px 289px #FFF, 378px 585px #FFF, 304px 664px #FFF, 908px 735px #FFF, 1800px 866px #FFF, 260px 1863px #FFF, 1604px 279px #FFF, 1390px 1494px #FFF, 864px 176px #FFF, 1968px 995px #FFF, 297px 1275px #FFF, 934px 799px #FFF, 470px 332px #FFF, 912px 1231px #FFF, 1780px 648px #FFF, 881px 1314px #FFF, 949px 1074px #FFF, 1434px 1640px #FFF, 500px 331px #FFF, 1462px 1526px #FFF, 1388px 1818px #FFF, 1243px 777px #FFF, 1571px 1909px #FFF, 877px 1187px #FFF, 1525px 205px #FFF, 645px 1193px #FFF, 809px 1402px #FFF, 1602px 1883px #FFF, 974px 198px #FFF, 937px 75px #FFF, 224px 204px #FFF, 426px 1721px #FFF, 199px 8px #FFF, 981px 1968px #FFF, 1479px 95px #FFF, 87px 806px #FFF, 1768px 896px #FFF, 1589px 399px #FFF, 941px 1873px #FFF, 457px 260px #FFF, 314px 195px #FFF, 1021px 907px #FFF, 1660px 835px #FFF, 994px 1225px #FFF, 1477px 1277px #FFF, 437px 353px #FFF, 924px 930px #FFF, 1091px 927px #FFF, 1550px 680px #FFF, 1404px 386px #FFF, 1666px 980px #FFF, 194px 895px #FFF, 33px 643px #FFF, 807px 165px #FFF, 674px 618px #FFF, 938px 1023px #FFF, 1592px 459px #FFF, 344px 1073px #FFF, 167px 1813px #FFF, 21px 1202px #FFF, 506px 1231px #FFF, 765px 98px #FFF, 226px 481px #FFF, 1137px 1088px #FFF, 741px 1669px #FFF, 787px 1920px #FFF, 1314px 883px #FFF, 1260px 977px #FFF, 1114px 749px #FFF, 1790px 322px #FFF, 96px 434px #FFF, 1146px 1059px #FFF, 1198px 578px #FFF, 1128px 1184px #FFF, 865px 1080px #FFF, 1307px 456px #FFF, 1645px 144px #FFF, 1483px 992px #FFF, 1980px 249px #FFF, 511px 965px #FFF, 1897px 629px #FFF, 176px 510px #FFF, 407px 249px #FFF, 403px 242px #FFF, 885px 1222px #FFF, 1520px 1940px #FFF, 1796px 1475px #FFF, 752px 243px #FFF, 1161px 226px #FFF, 1237px 752px #FFF, 321px 511px #FFF, 1726px 523px #FFF, 742px 1214px #FFF, 273px 349px #FFF, 448px 1564px #FFF, 1496px 1338px #FFF, 1480px 1539px #FFF, 258px 96px #FFF, 1293px 959px #FFF, 1643px 1093px #FFF, 1485px 931px #FFF, 964px 262px #FFF, 1197px 1996px #FFF, 454px 485px #FFF, 1236px 823px #FFF, 230px 968px #FFF, 1669px 766px #FFF, 703px 729px #FFF, 194px 1460px #FFF, 358px 955px #FFF, 837px 1937px #FFF, 1037px 185px #FFF, 1511px 1557px #FFF, 1118px 838px #FFF, 643px 1187px #FFF, 347px 346px #FFF, 1436px 1568px #FFF, 1301px 1961px #FFF, 1038px 1955px #FFF, 347px 1234px #FFF, 102px 816px #FFF, 582px 785px #FFF, 1214px 913px #FFF, 1122px 1007px #FFF, 1876px 1939px #FFF, 579px 877px #FFF, 27px 1727px #FFF, 521px 651px #FFF, 1124px 261px #FFF, 1295px 1083px #FFF, 732px 694px #FFF, 221px 651px #FFF, 11px 1239px #FFF, 489px 34px #FFF, 580px 363px #FFF, 126px 1801px #FFF, 1037px 993px #FFF, 840px 437px #FFF, 571px 586px #FFF, 1713px 1516px #FFF, 1538px 1692px #FFF, 1941px 42px #FFF, 1503px 1590px #FFF, 1485px 72px #FFF, 1170px 419px #FFF, 1760px 28px #FFF, 972px 213px #FFF, 593px 17px #FFF, 815px 1670px #FFF, 886px 64px #FFF, 99px 1172px #FFF, 149px 993px #FFF, 141px 1540px #FFF, 1293px 1684px #FFF, 220px 1730px #FFF, 293px 518px #FFF, 1554px 1133px #FFF, 454px 1940px #FFF, 505px 1991px #FFF, 671px 791px #FFF, 1397px 1171px #FFF, 522px 928px #FFF, 997px 1614px #FFF, 198px 188px #FFF, 1412px 920px #FFF, 1214px 576px #FFF, 117px 1976px #FFF, 1029px 1958px #FFF, 300px 896px #FFF, 1589px 263px #FFF, 1287px 862px #FFF, 1419px 1994px #FFF, 197px 757px #FFF, 1434px 620px #FFF, 453px 342px #FFF, 12px 1290px #FFF, 257px 1852px #FFF, 1704px 704px #FFF, 1073px 737px #FFF, 795px 104px #FFF, 1516px 599px #FFF, 1561px 644px #FFF, 1654px 864px #FFF, 97px 1099px #FFF, 1002px 800px #FFF, 126px 1045px #FFF, 1041px 1583px #FFF, 1227px 2px #FFF, 1278px 728px #FFF, 702px 1009px #FFF, 39px 179px #FFF, 1956px 1402px #FFF, 1506px 231px #FFF, 354px 1521px #FFF, 932px 939px #FFF, 23px 808px #FFF, 231px 1637px #FFF, 108px 1790px #FFF, 402px 1518px #FFF, 1246px 1281px #FFF, 1887px 493px #FFF, 1481px 1671px #FFF, 1687px 1860px #FFF, 637px 1579px #FFF, 257px 1297px #FFF, 1727px 1324px #FFF, 1378px 507px #FFF, 295px 401px #FFF, 744px 1957px #FFF, 1892px 1043px #FFF, 1932px 85px #FFF, 122px 1492px #FFF, 733px 408px #FFF, 1608px 669px #FFF, 211px 1861px #FFF, 999px 1011px #FFF, 389px 1282px #FFF, 164px 1366px #FFF, 1995px 944px #FFF, 1953px 44px #FFF, 607px 658px #FFF, 186px 1330px #FFF, 868px 1401px #FFF, 181px 1289px #FFF, 1069px 1440px #FFF, 77px 1090px #FFF, 552px 342px #FFF, 582px 1507px #FFF, 1030px 1886px #FFF, 676px 1332px #FFF, 1917px 327px #FFF, 688px 1234px #FFF, 1051px 1446px #FFF, 1154px 1020px #FFF, 222px 692px #FFF, 79px 1553px #FFF, 475px 1922px #FFF, 1257px 1830px #FFF, 1288px 1967px #FFF, 637px 439px #FFF, 1003px 964px #FFF, 1140px 439px #FFF, 252px 1424px #FFF, 1169px 1122px #FFF, 333px 472px #FFF, 659px 623px #FFF, 283px 478px #FFF, 1815px 130px #FFF, 719px 1926px #FFF, 1382px 218px #FFF, 840px 1485px #FFF, 1076px 114px #FFF, 667px 1771px #FFF, 1774px 1535px #FFF, 1586px 1586px #FFF, 1558px 1657px #FFF, 417px 459px #FFF, 5px 753px #FFF, 1752px 293px #FFF, 918px 984px #FFF, 68px 1213px #FFF, 1546px 851px #FFF, 1206px 1882px #FFF, 1873px 1068px #FFF, 253px 1099px #FFF, 795px 784px #FFF, 842px 1436px #FFF, 1899px 1459px #FFF, 890px 332px #FFF, 586px 348px #FFF, 636px 260px #FFF, 334px 811px #FFF, 576px 1283px #FFF, 496px 1439px #FFF, 57px 40px #FFF, 899px 1320px #FFF, 335px 1353px #FFF, 1135px 168px #FFF, 1491px 897px #FFF, 1397px 1557px #FFF, 1090px 921px #FFF, 241px 1456px #FFF, 1303px 1811px #FFF, 1052px 1823px #FFF, 1592px 1423px #FFF, 1811px 535px #FFF, 1473px 1079px #FFF, 928px 96px #FFF, 977px 1459px #FFF, 427px 1148px #FFF, 918px 1659px #FFF, 1259px 617px #FFF, 892px 1108px #FFF, 1988px 1758px #FFF, 191px 423px #FFF, 1827px 206px #FFF, 1893px 758px #FFF, 249px 715px #FFF, 775px 809px #FFF, 919px 1477px #FFF, 1925px 1870px #FFF, 1218px 474px #FFF, 1767px 1134px #FFF, 1289px 1073px #FFF, 848px 1516px #FFF, 363px 502px #FFF, 1675px 1370px #FFF, 242px 110px #FFF, 1983px 627px #FFF, 293px 695px #FFF, 1886px 1620px #FFF, 1867px 1328px #FFF, 725px 1149px #FFF, 1355px 228px #FFF, 897px 446px #FFF, 980px 972px #FFF, 1161px 406px #FFF, 451px 1773px #FFF, 1753px 978px #FFF, 1476px 328px #FFF, 1588px 327px #FFF, 1777px 747px #FFF, 776px 1696px #FFF, 1158px 882px #FFF, 1618px 652px #FFF, 1933px 1230px #FFF, 1140px 1505px #FFF, 721px 29px #FFF, 29px 1885px #FFF, 295px 1963px #FFF, 589px 422px #FFF, 76px 1549px #FFF, 1933px 263px #FFF, 323px 398px #FFF, 762px 340px #FFF, 938px 566px #FFF, 1018px 1062px #FFF, 151px 1466px #FFF, 171px 380px #FFF, 947px 770px #FFF, 862px 1738px #FFF, 1062px 1138px #FFF, 828px 763px #FFF, 1467px 534px #FFF, 1745px 1274px #FFF, 1754px 268px #FFF, 1876px 1585px #FFF, 1900px 1108px #FFF, 1883px 1322px #FFF, 1791px 46px #FFF, 315px 1714px #FFF, 1303px 32px #FFF, 1231px 883px #FFF, 1007px 306px #FFF, 1794px 1px #FFF, 2px 646px #FFF, 428px 330px #FFF, 290px 1555px #FFF, 533px 1620px #FFF, 1067px 1893px #FFF, 833px 1163px #FFF, 1011px 1706px #FFF, 222px 764px #FFF, 1798px 911px #FFF, 824px 515px #FFF, 492px 1268px #FFF, 1924px 1956px #FFF, 1438px 1001px #FFF, 612px 433px #FFF, 1952px 482px #FFF, 797px 665px #FFF, 250px 1836px #FFF, 1801px 96px #FFF, 1212px 921px #FFF, 638px 892px #FFF, 54px 336px #FFF, 780px 97px #FFF, 397px 263px #FFF, 995px 1178px #FFF, 472px 490px #FFF, 1863px 1854px #FFF, 394px 1369px #FFF, 865px 1567px #FFF, 44px 1692px #FFF, 739px 907px #FFF, 1662px 608px #FFF, 1418px 1231px #FFF, 158px 989px #FFF, 1604px 1923px #FFF, 408px 161px #FFF, 1519px 104px #FFF, 1067px 1583px #FFF, 167px 262px #FFF, 962px 421px #FFF, 636px 794px #FFF, 278px 746px #FFF, 1046px 811px #FFF, 1421px 1092px #FFF, 1495px 1493px #FFF, 372px 1344px #FFF, 801px 392px #FFF, 5px 238px #FFF, 239px 217px #FFF, 696px 1193px #FFF, 1125px 1296px #FFF, 1091px 1222px #FFF, 685px 1105px #FFF, 765px 314px #FFF, 449px 1121px #FFF, 630px 1168px #FFF, 1048px 126px #FFF, 1296px 369px #FFF, 843px 729px #FFF, 773px 598px #FFF, 780px 1180px #FFF, 1754px 1427px #FFF, 1734px 288px #FFF, 1342px 800px #FFF, 1520px 1526px #FFF, 1665px 653px #FFF, 603px 1638px #FFF, 1798px 663px #FFF, 1892px 815px #FFF, 1590px 967px #FFF, 503px 320px #FFF, 1584px 605px #FFF, 1169px 592px #FFF, 938px 911px #FFF, 264px 493px #FFF, 1869px 1282px #FFF, 1029px 1832px #FFF, 970px 1704px #FFF, 241px 1407px #FFF, 1374px 1876px #FFF, 110px 937px #FFF, 1693px 225px #FFF, 792px 1940px #FFF, 1405px 1268px #FFF, 1048px 265px #FFF, 258px 19px #FFF, 1326px 1273px #FFF, 1908px 1463px #FFF, 35px 1784px #FFF, 1588px 1076px #FFF, 128px 1887px #FFF, 194px 1042px #FFF, 778px 945px #FFF, 1070px 1375px #FFF, 757px 1391px #FFF, 1037px 488px #FFF, 1619px 985px #FFF, 1886px 1404px #FFF, 1388px 731px #FFF, 246px 1662px #FFF, 881px 609px #FFF, 1208px 152px #FFF, 1372px 490px #FFF, 1750px 1275px #FFF, 240px 1045px #FFF, 1886px 407px #FFF, 339px 730px #FFF, 1930px 1557px #FFF, 673px 1457px #FFF, 275px 1893px #FFF, 1091px 473px #FFF, 1620px 1959px #FFF, 655px 1191px #FFF, 1106px 1452px #FFF, 940px 1488px #FFF, 236px 1119px #FFF, 730px 1996px #FFF, 693px 1798px #FFF, 588px 883px #FFF, 298px 70px #FFF, 310px 939px #FFF, 754px 1294px #FFF, 1696px 97px #FFF, 369px 344px #FFF, 1170px 1820px #FFF, 237px 1537px #FFF, 465px 996px #FFF, 1898px 386px #FFF, 1735px 99px #FFF, 1162px 156px #FFF, 1855px 1265px #FFF, 1113px 1010px #FFF, 1064px 1476px #FFF, 1944px 1110px #FFF, 1654px 120px #FFF, 1593px 1520px #FFF, 83px 1368px #FFF, 483px 1512px #FFF, 1232px 1716px #FFF, 844px 1290px #FFF, 628px 1991px #FFF, 874px 1070px #FFF, 1328px 1945px #FFF, 861px 1277px #FFF, 928px 640px #FFF, 1924px 1326px #FFF, 742px 233px #FFF, 333px 1431px #FFF, 750px 1826px #FFF, 185px 1684px #FFF, 990px 1875px #FFF, 1662px 1943px #FFF, 1027px 1050px #FFF, 1267px 678px #FFF, 1377px 1319px #FFF, 95px 1892px #FFF, 17px 421px #FFF, 1373px 555px #FFF, 340px 107px #FFF, 1666px 521px #FFF, 1311px 595px #FFF, 1581px 1480px #FFF, 872px 1826px #FFF, 1789px 1803px #FFF, 143px 1272px #FFF, 1877px 745px #FFF, 299px 1636px #FFF, 830px 333px #FFF, 1625px 572px #FFF, 1910px 1369px #FFF, 1988px 670px #FFF, 552px 134px #FFF, 189px 1615px #FFF, 533px 433px #FFF, 1765px 1803px #FFF, 1631px 38px #FFF, 761px 152px #FFF, 2px 562px #FFF, 441px 1257px #FFF, 981px 1270px #FFF, 1814px 1989px #FFF, 1888px 1196px #FFF, 953px 216px #FFF, 479px 87px #FFF, 376px 331px #FFF, 1172px 1634px #FFF, 452px 786px #FFF, 5px 1851px #FFF, 1613px 856px #FFF, 1038px 518px #FFF, 1730px 1846px #FFF, 915px 1526px #FFF, 536px 823px #FFF, 629px 1556px #FFF, 284px 1040px #FFF, 989px 393px #FFF, 928px 476px #FFF, 1043px 597px #FFF, 501px 1683px #FFF, 487px 942px #FFF, 1200px 1661px #FFF, 1640px 687px #FFF, 451px 203px #FFF, 1760px 133px #FFF, 740px 928px #FFF, 942px 1058px #FFF, 1004px 698px #FFF, 957px 1536px #FFF, 855px 533px #FFF, 1053px 1394px #FFF, 399px 197px #FFF, 63px 283px #FFF, 139px 1905px #FFF, 400px 281px #FFF, 282px 159px #FFF, 1822px 1769px #FFF, 1429px 857px #FFF, 1197px 1575px #FFF, 762px 1167px #FFF, 569px 498px #FFF, 1647px 1940px #FFF, 1642px 122px #FFF, 163px 239px #FFF, 1254px 181px #FFF, 902px 1342px #FFF, 1374px 1005px #FFF, 1597px 284px #FFF, 599px 909px #FFF, 437px 744px #FFF, 9px 565px #FFF, 1162px 647px #FFF, 1109px 1905px #FFF, 183px 1337px #FFF, 1894px 905px #FFF, 814px 367px #FFF, 1773px 702px #FFF, 869px 342px #FFF, 760px 1478px #FFF, 869px 655px #FFF, 785px 233px #FFF, 283px 727px #FFF, 648px 1895px #FFF, 1297px 1029px #FFF, 923px 1443px #FFF, 842px 1691px #FFF, 730px 1779px #FFF, 229px 1920px #FFF, 1634px 1333px #FFF, 149px 1561px #FFF, 496px 497px #FFF, 59px 906px #FFF, 162px 1024px #FFF, 4px 284px #FFF, 1176px 1058px #FFF, 307px 2px #FFF, 280px 893px #FFF, 871px 1676px #FFF, 441px 1705px #FFF, 1069px 99px #FFF, 893px 1787px #FFF, 684px 1104px #FFF, 407px 983px #FFF, 1302px 1129px #FFF, 79px 607px #FFF, 140px 1787px #FFF, 30px 619px #FFF, 1183px 1583px #FFF, 1765px 1464px #FFF, 1482px 1994px #FFF, 198px 1756px #FFF, 507px 1060px #FFF, 569px 382px #FFF, 461px 529px #FFF, 713px 1202px #FFF, 1904px 243px #FFF, 1350px 66px #FFF, 1389px 746px #FFF, 134px 1306px #FFF, 818px 1100px #FFF, 291px 1648px #FFF, 1596px 860px #FFF, 849px 774px #FFF, 1000px 1182px #FFF, 1763px 413px #FFF, 1468px 78px #FFF, 847px 746px #FFF, 116px 1429px #FFF, 1480px 1042px #FFF, 1122px 20px #FFF, 520px 1399px #FFF, 1016px 1004px #FFF, 1196px 573px #FFF, 1803px 1859px #FFF, 1143px 493px #FFF, 1472px 1992px #FFF, 765px 398px #FFF, 154px 65px #FFF, 1329px 1377px #FFF, 281px 1080px #FFF, 1578px 1478px #FFF, 579px 576px #FFF;
    animation: animStar 50s linear infinite;
  }

  #stars:after {
    will-change: transform;
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1561px 1632px #FFF, 964px 926px #FFF, 801px 1141px #FFF, 1968px 1226px #FFF, 1691px 351px #FFF, 728px 258px #FFF, 950px 931px #FFF, 1604px 1877px #FFF, 1500px 736px #FFF, 247px 677px #FFF, 1577px 1917px #FFF, 1973px 1383px #FFF, 846px 1856px #FFF, 743px 1502px #FFF, 770px 1592px #FFF, 468px 353px #FFF, 472px 1799px #FFF, 691px 1185px #FFF, 548px 1968px #FFF, 1692px 1260px #FFF, 584px 673px #FFF, 8px 210px #FFF, 1939px 1867px #FFF, 1557px 251px #FFF, 1998px 1087px #FFF, 1758px 113px #FFF, 1304px 1062px #FFF, 677px 468px #FFF, 1553px 1895px #FFF, 223px 285px #FFF, 1932px 231px #FFF, 455px 211px #FFF, 300px 625px #FFF, 1849px 685px #FFF, 1171px 1388px #FFF, 1564px 1058px #FFF, 487px 1691px #FFF, 890px 1136px #FFF, 691px 1398px #FFF, 1455px 332px #FFF, 1797px 829px #FFF, 1059px 1576px #FFF, 1207px 37px #FFF, 831px 1809px #FFF, 959px 738px #FFF, 75px 289px #FFF, 378px 585px #FFF, 304px 664px #FFF, 908px 735px #FFF, 1800px 866px #FFF, 260px 1863px #FFF, 1604px 279px #FFF, 1390px 1494px #FFF, 864px 176px #FFF, 1968px 995px #FFF, 297px 1275px #FFF, 934px 799px #FFF, 470px 332px #FFF, 912px 1231px #FFF, 1780px 648px #FFF, 881px 1314px #FFF, 949px 1074px #FFF, 1434px 1640px #FFF, 500px 331px #FFF, 1462px 1526px #FFF, 1388px 1818px #FFF, 1243px 777px #FFF, 1571px 1909px #FFF, 877px 1187px #FFF, 1525px 205px #FFF, 645px 1193px #FFF, 809px 1402px #FFF, 1602px 1883px #FFF, 974px 198px #FFF, 937px 75px #FFF, 224px 204px #FFF, 426px 1721px #FFF, 199px 8px #FFF, 981px 1968px #FFF, 1479px 95px #FFF, 87px 806px #FFF, 1768px 896px #FFF, 1589px 399px #FFF, 941px 1873px #FFF, 457px 260px #FFF, 314px 195px #FFF, 1021px 907px #FFF, 1660px 835px #FFF, 994px 1225px #FFF, 1477px 1277px #FFF, 437px 353px #FFF, 924px 930px #FFF, 1091px 927px #FFF, 1550px 680px #FFF, 1404px 386px #FFF, 1666px 980px #FFF, 194px 895px #FFF, 33px 643px #FFF, 807px 165px #FFF, 674px 618px #FFF, 938px 1023px #FFF, 1592px 459px #FFF, 344px 1073px #FFF, 167px 1813px #FFF, 21px 1202px #FFF, 506px 1231px #FFF, 765px 98px #FFF, 226px 481px #FFF, 1137px 1088px #FFF, 741px 1669px #FFF, 787px 1920px #FFF, 1314px 883px #FFF, 1260px 977px #FFF, 1114px 749px #FFF, 1790px 322px #FFF, 96px 434px #FFF, 1146px 1059px #FFF, 1198px 578px #FFF, 1128px 1184px #FFF, 865px 1080px #FFF, 1307px 456px #FFF, 1645px 144px #FFF, 1483px 992px #FFF, 1980px 249px #FFF, 511px 965px #FFF, 1897px 629px #FFF, 176px 510px #FFF, 407px 249px #FFF, 403px 242px #FFF, 885px 1222px #FFF, 1520px 1940px #FFF, 1796px 1475px #FFF, 752px 243px #FFF, 1161px 226px #FFF, 1237px 752px #FFF, 321px 511px #FFF, 1726px 523px #FFF, 742px 1214px #FFF, 273px 349px #FFF, 448px 1564px #FFF, 1496px 1338px #FFF, 1480px 1539px #FFF, 258px 96px #FFF, 1293px 959px #FFF, 1643px 1093px #FFF, 1485px 931px #FFF, 964px 262px #FFF, 1197px 1996px #FFF, 454px 485px #FFF, 1236px 823px #FFF, 230px 968px #FFF, 1669px 766px #FFF, 703px 729px #FFF, 194px 1460px #FFF, 358px 955px #FFF, 837px 1937px #FFF, 1037px 185px #FFF, 1511px 1557px #FFF, 1118px 838px #FFF, 643px 1187px #FFF, 347px 346px #FFF, 1436px 1568px #FFF, 1301px 1961px #FFF, 1038px 1955px #FFF, 347px 1234px #FFF, 102px 816px #FFF, 582px 785px #FFF, 1214px 913px #FFF, 1122px 1007px #FFF, 1876px 1939px #FFF, 579px 877px #FFF, 27px 1727px #FFF, 521px 651px #FFF, 1124px 261px #FFF, 1295px 1083px #FFF, 732px 694px #FFF, 221px 651px #FFF, 11px 1239px #FFF, 489px 34px #FFF, 580px 363px #FFF, 126px 1801px #FFF, 1037px 993px #FFF, 840px 437px #FFF, 571px 586px #FFF, 1713px 1516px #FFF, 1538px 1692px #FFF, 1941px 42px #FFF, 1503px 1590px #FFF, 1485px 72px #FFF, 1170px 419px #FFF, 1760px 28px #FFF, 972px 213px #FFF, 593px 17px #FFF, 815px 1670px #FFF, 886px 64px #FFF, 99px 1172px #FFF, 149px 993px #FFF, 141px 1540px #FFF, 1293px 1684px #FFF, 220px 1730px #FFF, 293px 518px #FFF, 1554px 1133px #FFF, 454px 1940px #FFF, 505px 1991px #FFF, 671px 791px #FFF, 1397px 1171px #FFF, 522px 928px #FFF, 997px 1614px #FFF, 198px 188px #FFF, 1412px 920px #FFF, 1214px 576px #FFF, 117px 1976px #FFF, 1029px 1958px #FFF, 300px 896px #FFF, 1589px 263px #FFF, 1287px 862px #FFF, 1419px 1994px #FFF, 197px 757px #FFF, 1434px 620px #FFF, 453px 342px #FFF, 12px 1290px #FFF, 257px 1852px #FFF, 1704px 704px #FFF, 1073px 737px #FFF, 795px 104px #FFF, 1516px 599px #FFF, 1561px 644px #FFF, 1654px 864px #FFF, 97px 1099px #FFF, 1002px 800px #FFF, 126px 1045px #FFF, 1041px 1583px #FFF, 1227px 2px #FFF, 1278px 728px #FFF, 702px 1009px #FFF, 39px 179px #FFF, 1956px 1402px #FFF, 1506px 231px #FFF, 354px 1521px #FFF, 932px 939px #FFF, 23px 808px #FFF, 231px 1637px #FFF, 108px 1790px #FFF, 402px 1518px #FFF, 1246px 1281px #FFF, 1887px 493px #FFF, 1481px 1671px #FFF, 1687px 1860px #FFF, 637px 1579px #FFF, 257px 1297px #FFF, 1727px 1324px #FFF, 1378px 507px #FFF, 295px 401px #FFF, 744px 1957px #FFF, 1892px 1043px #FFF, 1932px 85px #FFF, 122px 1492px #FFF, 733px 408px #FFF, 1608px 669px #FFF, 211px 1861px #FFF, 999px 1011px #FFF, 389px 1282px #FFF, 164px 1366px #FFF, 1995px 944px #FFF, 1953px 44px #FFF, 607px 658px #FFF, 186px 1330px #FFF, 868px 1401px #FFF, 181px 1289px #FFF, 1069px 1440px #FFF, 77px 1090px #FFF, 552px 342px #FFF, 582px 1507px #FFF, 1030px 1886px #FFF, 676px 1332px #FFF, 1917px 327px #FFF, 688px 1234px #FFF, 1051px 1446px #FFF, 1154px 1020px #FFF, 222px 692px #FFF, 79px 1553px #FFF, 475px 1922px #FFF, 1257px 1830px #FFF, 1288px 1967px #FFF, 637px 439px #FFF, 1003px 964px #FFF, 1140px 439px #FFF, 252px 1424px #FFF, 1169px 1122px #FFF, 333px 472px #FFF, 659px 623px #FFF, 283px 478px #FFF, 1815px 130px #FFF, 719px 1926px #FFF, 1382px 218px #FFF, 840px 1485px #FFF, 1076px 114px #FFF, 667px 1771px #FFF, 1774px 1535px #FFF, 1586px 1586px #FFF, 1558px 1657px #FFF, 417px 459px #FFF, 5px 753px #FFF, 1752px 293px #FFF, 918px 984px #FFF, 68px 1213px #FFF, 1546px 851px #FFF, 1206px 1882px #FFF, 1873px 1068px #FFF, 253px 1099px #FFF, 795px 784px #FFF, 842px 1436px #FFF, 1899px 1459px #FFF, 890px 332px #FFF, 586px 348px #FFF, 636px 260px #FFF, 334px 811px #FFF, 576px 1283px #FFF, 496px 1439px #FFF, 57px 40px #FFF, 899px 1320px #FFF, 335px 1353px #FFF, 1135px 168px #FFF, 1491px 897px #FFF, 1397px 1557px #FFF, 1090px 921px #FFF, 241px 1456px #FFF, 1303px 1811px #FFF, 1052px 1823px #FFF, 1592px 1423px #FFF, 1811px 535px #FFF, 1473px 1079px #FFF, 928px 96px #FFF, 977px 1459px #FFF, 427px 1148px #FFF, 918px 1659px #FFF, 1259px 617px #FFF, 892px 1108px #FFF, 1988px 1758px #FFF, 191px 423px #FFF, 1827px 206px #FFF, 1893px 758px #FFF, 249px 715px #FFF, 775px 809px #FFF, 919px 1477px #FFF, 1925px 1870px #FFF, 1218px 474px #FFF, 1767px 1134px #FFF, 1289px 1073px #FFF, 848px 1516px #FFF, 363px 502px #FFF, 1675px 1370px #FFF, 242px 110px #FFF, 1983px 627px #FFF, 293px 695px #FFF, 1886px 1620px #FFF, 1867px 1328px #FFF, 725px 1149px #FFF, 1355px 228px #FFF, 897px 446px #FFF, 980px 972px #FFF, 1161px 406px #FFF, 451px 1773px #FFF, 1753px 978px #FFF, 1476px 328px #FFF, 1588px 327px #FFF, 1777px 747px #FFF, 776px 1696px #FFF, 1158px 882px #FFF, 1618px 652px #FFF, 1933px 1230px #FFF, 1140px 1505px #FFF, 721px 29px #FFF, 29px 1885px #FFF, 295px 1963px #FFF, 589px 422px #FFF, 76px 1549px #FFF, 1933px 263px #FFF, 323px 398px #FFF, 762px 340px #FFF, 938px 566px #FFF, 1018px 1062px #FFF, 151px 1466px #FFF, 171px 380px #FFF, 947px 770px #FFF, 862px 1738px #FFF, 1062px 1138px #FFF, 828px 763px #FFF, 1467px 534px #FFF, 1745px 1274px #FFF, 1754px 268px #FFF, 1876px 1585px #FFF, 1900px 1108px #FFF, 1883px 1322px #FFF, 1791px 46px #FFF, 315px 1714px #FFF, 1303px 32px #FFF, 1231px 883px #FFF, 1007px 306px #FFF, 1794px 1px #FFF, 2px 646px #FFF, 428px 330px #FFF, 290px 1555px #FFF, 533px 1620px #FFF, 1067px 1893px #FFF, 833px 1163px #FFF, 1011px 1706px #FFF, 222px 764px #FFF, 1798px 911px #FFF, 824px 515px #FFF, 492px 1268px #FFF, 1924px 1956px #FFF, 1438px 1001px #FFF, 612px 433px #FFF, 1952px 482px #FFF, 797px 665px #FFF, 250px 1836px #FFF, 1801px 96px #FFF, 1212px 921px #FFF, 638px 892px #FFF, 54px 336px #FFF, 780px 97px #FFF, 397px 263px #FFF, 995px 1178px #FFF, 472px 490px #FFF, 1863px 1854px #FFF, 394px 1369px #FFF, 865px 1567px #FFF, 44px 1692px #FFF, 739px 907px #FFF, 1662px 608px #FFF, 1418px 1231px #FFF, 158px 989px #FFF, 1604px 1923px #FFF, 408px 161px #FFF, 1519px 104px #FFF, 1067px 1583px #FFF, 167px 262px #FFF, 962px 421px #FFF, 636px 794px #FFF, 278px 746px #FFF, 1046px 811px #FFF, 1421px 1092px #FFF, 1495px 1493px #FFF, 372px 1344px #FFF, 801px 392px #FFF, 5px 238px #FFF, 239px 217px #FFF, 696px 1193px #FFF, 1125px 1296px #FFF, 1091px 1222px #FFF, 685px 1105px #FFF, 765px 314px #FFF, 449px 1121px #FFF, 630px 1168px #FFF, 1048px 126px #FFF, 1296px 369px #FFF, 843px 729px #FFF, 773px 598px #FFF, 780px 1180px #FFF, 1754px 1427px #FFF, 1734px 288px #FFF, 1342px 800px #FFF, 1520px 1526px #FFF, 1665px 653px #FFF, 603px 1638px #FFF, 1798px 663px #FFF, 1892px 815px #FFF, 1590px 967px #FFF, 503px 320px #FFF, 1584px 605px #FFF, 1169px 592px #FFF, 938px 911px #FFF, 264px 493px #FFF, 1869px 1282px #FFF, 1029px 1832px #FFF, 970px 1704px #FFF, 241px 1407px #FFF, 1374px 1876px #FFF, 110px 937px #FFF, 1693px 225px #FFF, 792px 1940px #FFF, 1405px 1268px #FFF, 1048px 265px #FFF, 258px 19px #FFF, 1326px 1273px #FFF, 1908px 1463px #FFF, 35px 1784px #FFF, 1588px 1076px #FFF, 128px 1887px #FFF, 194px 1042px #FFF, 778px 945px #FFF, 1070px 1375px #FFF, 757px 1391px #FFF, 1037px 488px #FFF, 1619px 985px #FFF, 1886px 1404px #FFF, 1388px 731px #FFF, 246px 1662px #FFF, 881px 609px #FFF, 1208px 152px #FFF, 1372px 490px #FFF, 1750px 1275px #FFF, 240px 1045px #FFF, 1886px 407px #FFF, 339px 730px #FFF, 1930px 1557px #FFF, 673px 1457px #FFF, 275px 1893px #FFF, 1091px 473px #FFF, 1620px 1959px #FFF, 655px 1191px #FFF, 1106px 1452px #FFF, 940px 1488px #FFF, 236px 1119px #FFF, 730px 1996px #FFF, 693px 1798px #FFF, 588px 883px #FFF, 298px 70px #FFF, 310px 939px #FFF, 754px 1294px #FFF, 1696px 97px #FFF, 369px 344px #FFF, 1170px 1820px #FFF, 237px 1537px #FFF, 465px 996px #FFF, 1898px 386px #FFF, 1735px 99px #FFF, 1162px 156px #FFF, 1855px 1265px #FFF, 1113px 1010px #FFF, 1064px 1476px #FFF, 1944px 1110px #FFF, 1654px 120px #FFF, 1593px 1520px #FFF, 83px 1368px #FFF, 483px 1512px #FFF, 1232px 1716px #FFF, 844px 1290px #FFF, 628px 1991px #FFF, 874px 1070px #FFF, 1328px 1945px #FFF, 861px 1277px #FFF, 928px 640px #FFF, 1924px 1326px #FFF, 742px 233px #FFF, 333px 1431px #FFF, 750px 1826px #FFF, 185px 1684px #FFF, 990px 1875px #FFF, 1662px 1943px #FFF, 1027px 1050px #FFF, 1267px 678px #FFF, 1377px 1319px #FFF, 95px 1892px #FFF, 17px 421px #FFF, 1373px 555px #FFF, 340px 107px #FFF, 1666px 521px #FFF, 1311px 595px #FFF, 1581px 1480px #FFF, 872px 1826px #FFF, 1789px 1803px #FFF, 143px 1272px #FFF, 1877px 745px #FFF, 299px 1636px #FFF, 830px 333px #FFF, 1625px 572px #FFF, 1910px 1369px #FFF, 1988px 670px #FFF, 552px 134px #FFF, 189px 1615px #FFF, 533px 433px #FFF, 1765px 1803px #FFF, 1631px 38px #FFF, 761px 152px #FFF, 2px 562px #FFF, 441px 1257px #FFF, 981px 1270px #FFF, 1814px 1989px #FFF, 1888px 1196px #FFF, 953px 216px #FFF, 479px 87px #FFF, 376px 331px #FFF, 1172px 1634px #FFF, 452px 786px #FFF, 5px 1851px #FFF, 1613px 856px #FFF, 1038px 518px #FFF, 1730px 1846px #FFF, 915px 1526px #FFF, 536px 823px #FFF, 629px 1556px #FFF, 284px 1040px #FFF, 989px 393px #FFF, 928px 476px #FFF, 1043px 597px #FFF, 501px 1683px #FFF, 487px 942px #FFF, 1200px 1661px #FFF, 1640px 687px #FFF, 451px 203px #FFF, 1760px 133px #FFF, 740px 928px #FFF, 942px 1058px #FFF, 1004px 698px #FFF, 957px 1536px #FFF, 855px 533px #FFF, 1053px 1394px #FFF, 399px 197px #FFF, 63px 283px #FFF, 139px 1905px #FFF, 400px 281px #FFF, 282px 159px #FFF, 1822px 1769px #FFF, 1429px 857px #FFF, 1197px 1575px #FFF, 762px 1167px #FFF, 569px 498px #FFF, 1647px 1940px #FFF, 1642px 122px #FFF, 163px 239px #FFF, 1254px 181px #FFF, 902px 1342px #FFF, 1374px 1005px #FFF, 1597px 284px #FFF, 599px 909px #FFF, 437px 744px #FFF, 9px 565px #FFF, 1162px 647px #FFF, 1109px 1905px #FFF, 183px 1337px #FFF, 1894px 905px #FFF, 814px 367px #FFF, 1773px 702px #FFF, 869px 342px #FFF, 760px 1478px #FFF, 869px 655px #FFF, 785px 233px #FFF, 283px 727px #FFF, 648px 1895px #FFF, 1297px 1029px #FFF, 923px 1443px #FFF, 842px 1691px #FFF, 730px 1779px #FFF, 229px 1920px #FFF, 1634px 1333px #FFF, 149px 1561px #FFF, 496px 497px #FFF, 59px 906px #FFF, 162px 1024px #FFF, 4px 284px #FFF, 1176px 1058px #FFF, 307px 2px #FFF, 280px 893px #FFF, 871px 1676px #FFF, 441px 1705px #FFF, 1069px 99px #FFF, 893px 1787px #FFF, 684px 1104px #FFF, 407px 983px #FFF, 1302px 1129px #FFF, 79px 607px #FFF, 140px 1787px #FFF, 30px 619px #FFF, 1183px 1583px #FFF, 1765px 1464px #FFF, 1482px 1994px #FFF, 198px 1756px #FFF, 507px 1060px #FFF, 569px 382px #FFF, 461px 529px #FFF, 713px 1202px #FFF, 1904px 243px #FFF, 1350px 66px #FFF, 1389px 746px #FFF, 134px 1306px #FFF, 818px 1100px #FFF, 291px 1648px #FFF, 1596px 860px #FFF, 849px 774px #FFF, 1000px 1182px #FFF, 1763px 413px #FFF, 1468px 78px #FFF, 847px 746px #FFF, 116px 1429px #FFF, 1480px 1042px #FFF, 1122px 20px #FFF, 520px 1399px #FFF, 1016px 1004px #FFF, 1196px 573px #FFF, 1803px 1859px #FFF, 1143px 493px #FFF, 1472px 1992px #FFF, 765px 398px #FFF, 154px 65px #FFF, 1329px 1377px #FFF, 281px 1080px #FFF, 1578px 1478px #FFF, 579px 576px #FFF;
  }

  #stars2 {
    will-change: transform;
    position: auto;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 982px 56px #FFF, 716px 358px #FFF, 1608px 1841px #FFF, 892px 197px #FFF, 1514px 1124px #FFF, 1881px 1267px #FFF, 493px 2000px #FFF, 195px 737px #FFF, 1378px 1157px #FFF, 760px 192px #FFF, 1637px 1903px #FFF, 628px 1024px #FFF, 1005px 245px #FFF, 528px 293px #FFF, 1983px 1226px #FFF, 479px 1630px #FFF, 1278px 947px #FFF, 1703px 752px #FFF, 422px 201px #FFF, 1317px 1168px #FFF, 1423px 1240px #FFF, 304px 1933px #FFF, 1747px 945px #FFF, 351px 1188px #FFF, 183px 450px #FFF, 1295px 674px #FFF, 1484px 1768px #FFF, 1988px 1228px #FFF, 57px 44px #FFF, 1925px 771px #FFF, 1113px 240px #FFF, 1287px 682px #FFF, 1079px 103px #FFF, 1230px 407px #FFF, 341px 115px #FFF, 1524px 904px #FFF, 164px 1030px #FFF, 1160px 671px #FFF, 811px 1730px #FFF, 288px 1164px #FFF, 3px 976px #FFF, 166px 1487px #FFF, 1009px 951px #FFF, 306px 164px #FFF, 1164px 459px #FFF, 612px 1645px #FFF, 1688px 1816px #FFF, 16px 1384px #FFF, 170px 1390px #FFF, 612px 1299px #FFF, 1888px 147px #FFF, 1459px 558px #FFF, 1844px 1668px #FFF, 824px 53px #FFF, 1132px 356px #FFF, 1622px 1383px #FFF, 1308px 179px #FFF, 1264px 1807px #FFF, 993px 956px #FFF, 1315px 1558px #FFF, 1407px 311px #FFF, 749px 1115px #FFF, 1408px 1681px #FFF, 1920px 57px #FFF, 290px 31px #FFF, 1795px 792px #FFF, 894px 942px #FFF, 141px 162px #FFF, 1119px 827px #FFF, 448px 1476px #FFF, 1365px 1834px #FFF, 943px 1161px #FFF, 1738px 1734px #FFF, 1520px 500px #FFF, 245px 42px #FFF, 572px 178px #FFF, 1111px 1312px #FFF, 1584px 977px #FFF, 1561px 1035px #FFF, 1429px 1990px #FFF, 613px 890px #FFF, 1920px 814px #FFF, 544px 834px #FFF, 1038px 81px #FFF, 1234px 641px #FFF, 934px 1254px #FFF, 951px 1110px #FFF, 287px 472px #FFF, 635px 1859px #FFF, 138px 17px #FFF, 1268px 945px #FFF, 1680px 1061px #FFF, 1220px 1284px #FFF, 1871px 89px #FFF, 752px 1479px #FFF, 1012px 1270px #FFF, 1718px 687px #FFF, 987px 525px #FFF, 1721px 155px #FFF, 876px 1842px #FFF, 671px 1131px #FFF, 1481px 1037px #FFF, 740px 1629px #FFF, 1306px 1603px #FFF, 718px 1631px #FFF, 661px 1549px #FFF, 961px 1278px #FFF, 1298px 1581px #FFF, 516px 989px #FFF, 1235px 169px #FFF, 1799px 806px #FFF, 1176px 1965px #FFF, 1717px 304px #FFF, 1700px 600px #FFF, 1997px 1961px #FFF, 431px 630px #FFF, 1175px 1075px #FFF, 1710px 1960px #FFF, 974px 1052px #FFF, 491px 356px #FFF, 1731px 901px #FFF, 6px 1819px #FFF, 824px 322px #FFF, 812px 245px #FFF, 1071px 77px #FFF, 1196px 677px #FFF, 1623px 883px #FFF, 1786px 1141px #FFF, 837px 1093px #FFF, 1749px 541px #FFF, 1024px 1766px #FFF, 180px 1393px #FFF, 721px 622px #FFF, 703px 1556px #FFF, 1381px 1133px #FFF, 1350px 1645px #FFF, 12px 1852px #FFF, 1522px 211px #FFF, 311px 1584px #FFF, 1856px 1990px #FFF, 411px 618px #FFF, 1791px 996px #FFF, 817px 970px #FFF, 1507px 936px #FFF, 239px 1843px #FFF, 411px 1935px #FFF, 1953px 1767px #FFF, 1439px 1540px #FFF, 1171px 247px #FFF, 49px 526px #FFF, 1917px 1493px #FFF, 1623px 1320px #FFF, 748px 1671px #FFF, 67px 79px #FFF, 1688px 1332px #FFF, 725px 1507px #FFF, 445px 1292px #FFF, 1406px 342px #FFF, 1801px 452px #FFF, 1879px 976px #FFF, 1083px 1173px #FFF, 1857px 1953px #FFF, 550px 1320px #FFF, 1432px 1025px #FFF, 56px 1629px #FFF, 1515px 1318px #FFF, 254px 735px #FFF, 1877px 1955px #FFF, 1232px 1360px #FFF, 1603px 105px #FFF, 850px 1724px #FFF, 1416px 3px #FFF, 708px 1211px #FFF, 1407px 894px #FFF, 1386px 1602px #FFF, 1524px 386px #FFF, 236px 818px #FFF, 1786px 314px #FFF, 1046px 794px #FFF, 611px 1187px #FFF, 1120px 711px #FFF, 388px 970px #FFF, 1816px 534px #FFF, 1187px 1036px #FFF, 1992px 1944px #FFF, 1510px 1442px #FFF, 1438px 1865px #FFF, 966px 1793px #FFF, 851px 1589px #FFF, 455px 1287px #FFF, 999px 259px #FFF, 568px 1214px #FFF, 1029px 19px #FFF, 573px 1321px #FFF, 1582px 147px #FFF, 988px 1270px #FFF, 992px 182px #FFF, 1669px 1744px #FFF, 1073px 1926px #FFF, 127px 726px #FFF;
    animation: animStar 100s linear infinite;
  }

  #stars2:after {
    will-change: transform;
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 982px 56px #FFF, 716px 358px #FFF, 1608px 1841px #FFF, 892px 197px #FFF, 1514px 1124px #FFF, 1881px 1267px #FFF, 493px 2000px #FFF, 195px 737px #FFF, 1378px 1157px #FFF, 760px 192px #FFF, 1637px 1903px #FFF, 628px 1024px #FFF, 1005px 245px #FFF, 528px 293px #FFF, 1983px 1226px #FFF, 479px 1630px #FFF, 1278px 947px #FFF, 1703px 752px #FFF, 422px 201px #FFF, 1317px 1168px #FFF, 1423px 1240px #FFF, 304px 1933px #FFF, 1747px 945px #FFF, 351px 1188px #FFF, 183px 450px #FFF, 1295px 674px #FFF, 1484px 1768px #FFF, 1988px 1228px #FFF, 57px 44px #FFF, 1925px 771px #FFF, 1113px 240px #FFF, 1287px 682px #FFF, 1079px 103px #FFF, 1230px 407px #FFF, 341px 115px #FFF, 1524px 904px #FFF, 164px 1030px #FFF, 1160px 671px #FFF, 811px 1730px #FFF, 288px 1164px #FFF, 3px 976px #FFF, 166px 1487px #FFF, 1009px 951px #FFF, 306px 164px #FFF, 1164px 459px #FFF, 612px 1645px #FFF, 1688px 1816px #FFF, 16px 1384px #FFF, 170px 1390px #FFF, 612px 1299px #FFF, 1888px 147px #FFF, 1459px 558px #FFF, 1844px 1668px #FFF, 824px 53px #FFF, 1132px 356px #FFF, 1622px 1383px #FFF, 1308px 179px #FFF, 1264px 1807px #FFF, 993px 956px #FFF, 1315px 1558px #FFF, 1407px 311px #FFF, 749px 1115px #FFF, 1408px 1681px #FFF, 1920px 57px #FFF, 290px 31px #FFF, 1795px 792px #FFF, 894px 942px #FFF, 141px 162px #FFF, 1119px 827px #FFF, 448px 1476px #FFF, 1365px 1834px #FFF, 943px 1161px #FFF, 1738px 1734px #FFF, 1520px 500px #FFF, 245px 42px #FFF, 572px 178px #FFF, 1111px 1312px #FFF, 1584px 977px #FFF, 1561px 1035px #FFF, 1429px 1990px #FFF, 613px 890px #FFF, 1920px 814px #FFF, 544px 834px #FFF, 1038px 81px #FFF, 1234px 641px #FFF, 934px 1254px #FFF, 951px 1110px #FFF, 287px 472px #FFF, 635px 1859px #FFF, 138px 17px #FFF, 1268px 945px #FFF, 1680px 1061px #FFF, 1220px 1284px #FFF, 1871px 89px #FFF, 752px 1479px #FFF, 1012px 1270px #FFF, 1718px 687px #FFF, 987px 525px #FFF, 1721px 155px #FFF, 876px 1842px #FFF, 671px 1131px #FFF, 1481px 1037px #FFF, 740px 1629px #FFF, 1306px 1603px #FFF, 718px 1631px #FFF, 661px 1549px #FFF, 961px 1278px #FFF, 1298px 1581px #FFF, 516px 989px #FFF, 1235px 169px #FFF, 1799px 806px #FFF, 1176px 1965px #FFF, 1717px 304px #FFF, 1700px 600px #FFF, 1997px 1961px #FFF, 431px 630px #FFF, 1175px 1075px #FFF, 1710px 1960px #FFF, 974px 1052px #FFF, 491px 356px #FFF, 1731px 901px #FFF, 6px 1819px #FFF, 824px 322px #FFF, 812px 245px #FFF, 1071px 77px #FFF, 1196px 677px #FFF, 1623px 883px #FFF, 1786px 1141px #FFF, 837px 1093px #FFF, 1749px 541px #FFF, 1024px 1766px #FFF, 180px 1393px #FFF, 721px 622px #FFF, 703px 1556px #FFF, 1381px 1133px #FFF, 1350px 1645px #FFF, 12px 1852px #FFF, 1522px 211px #FFF, 311px 1584px #FFF, 1856px 1990px #FFF, 411px 618px #FFF, 1791px 996px #FFF, 817px 970px #FFF, 1507px 936px #FFF, 239px 1843px #FFF, 411px 1935px #FFF, 1953px 1767px #FFF, 1439px 1540px #FFF, 1171px 247px #FFF, 49px 526px #FFF, 1917px 1493px #FFF, 1623px 1320px #FFF, 748px 1671px #FFF, 67px 79px #FFF, 1688px 1332px #FFF, 725px 1507px #FFF, 445px 1292px #FFF, 1406px 342px #FFF, 1801px 452px #FFF, 1879px 976px #FFF, 1083px 1173px #FFF, 1857px 1953px #FFF, 550px 1320px #FFF, 1432px 1025px #FFF, 56px 1629px #FFF, 1515px 1318px #FFF, 254px 735px #FFF, 1877px 1955px #FFF, 1232px 1360px #FFF, 1603px 105px #FFF, 850px 1724px #FFF, 1416px 3px #FFF, 708px 1211px #FFF, 1407px 894px #FFF, 1386px 1602px #FFF, 1524px 386px #FFF, 236px 818px #FFF, 1786px 314px #FFF, 1046px 794px #FFF, 611px 1187px #FFF, 1120px 711px #FFF, 388px 970px #FFF, 1816px 534px #FFF, 1187px 1036px #FFF, 1992px 1944px #FFF, 1510px 1442px #FFF, 1438px 1865px #FFF, 966px 1793px #FFF, 851px 1589px #FFF, 455px 1287px #FFF, 999px 259px #FFF, 568px 1214px #FFF, 1029px 19px #FFF, 573px 1321px #FFF, 1582px 147px #FFF, 988px 1270px #FFF, 992px 182px #FFF, 1669px 1744px #FFF, 1073px 1926px #FFF, 127px 726px #FFF;
  }

  #stars3 {
    will-change: transform;
    position: auto;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1475px 1624px #FFF, 1471px 1039px #FFF, 1180px 780px #FFF, 1341px 1504px #FFF, 1163px 93px #FFF, 1419px 62px #FFF, 1898px 1980px #FFF, 1381px 132px #FFF, 1893px 1902px #FFF, 1968px 1076px #FFF, 1497px 1220px #FFF, 1393px 223px #FFF, 1687px 1214px #FFF, 1186px 29px #FFF, 339px 46px #FFF, 423px 1729px #FFF, 989px 1230px #FFF, 1525px 747px #FFF, 1532px 43px #FFF, 945px 1866px #FFF, 788px 1333px #FFF, 1591px 1073px #FFF, 1652px 1656px #FFF, 1433px 207px #FFF, 425px 1258px #FFF, 1497px 1121px #FFF, 1463px 1727px #FFF, 32px 1759px #FFF, 182px 1186px #FFF, 1943px 1838px #FFF, 91px 1083px #FFF, 1148px 1269px #FFF, 1094px 107px #FFF, 237px 1143px #FFF, 1418px 126px #FFF, 582px 1162px #FFF, 458px 934px #FFF, 1098px 273px #FFF, 668px 273px #FFF, 761px 319px #FFF, 1671px 541px #FFF, 762px 1858px #FFF, 1398px 1760px #FFF, 1378px 44px #FFF, 894px 976px #FFF, 1496px 747px #FFF, 1845px 434px #FFF, 1218px 1006px #FFF, 459px 571px #FFF, 34px 1954px #FFF, 220px 1024px #FFF, 1915px 297px #FFF, 531px 900px #FFF, 1166px 1032px #FFF, 424px 78px #FFF, 1485px 557px #FFF, 852px 1672px #FFF, 1155px 1189px #FFF, 1693px 85px #FFF, 1462px 1788px #FFF, 1234px 1993px #FFF, 1124px 216px #FFF, 1694px 1980px #FFF, 1992px 646px #FFF, 133px 122px #FFF, 1022px 1016px #FFF, 1394px 1756px #FFF, 863px 986px #FFF, 41px 545px #FFF, 628px 1370px #FFF, 1834px 721px #FFF, 1315px 573px #FFF, 640px 1042px #FFF, 1317px 1229px #FFF, 540px 554px #FFF, 1021px 68px #FFF, 1698px 324px #FFF, 254px 1370px #FFF, 922px 1986px #FFF, 1450px 1574px #FFF, 139px 1045px #FFF, 216px 1623px #FFF, 1109px 1740px #FFF, 597px 1093px #FFF, 94px 422px #FFF, 158px 1942px #FFF, 1832px 206px #FFF, 1849px 724px #FFF, 940px 445px #FFF, 1656px 1021px #FFF, 142px 115px #FFF, 1675px 865px #FFF, 839px 890px #FFF, 1203px 1232px #FFF, 1341px 719px #FFF, 1212px 1794px #FFF, 408px 604px #FFF, 1211px 1696px #FFF, 1506px 66px #FFF, 1058px 1163px #FFF;
    animation: animStar 150s linear infinite;
  }

  #stars3:after {
    will-change: transform;
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1475px 1624px #FFF, 1471px 1039px #FFF, 1180px 780px #FFF, 1341px 1504px #FFF, 1163px 93px #FFF, 1419px 62px #FFF, 1898px 1980px #FFF, 1381px 132px #FFF, 1893px 1902px #FFF, 1968px 1076px #FFF, 1497px 1220px #FFF, 1393px 223px #FFF, 1687px 1214px #FFF, 1186px 29px #FFF, 339px 46px #FFF, 423px 1729px #FFF, 989px 1230px #FFF, 1525px 747px #FFF, 1532px 43px #FFF, 945px 1866px #FFF, 788px 1333px #FFF, 1591px 1073px #FFF, 1652px 1656px #FFF, 1433px 207px #FFF, 425px 1258px #FFF, 1497px 1121px #FFF, 1463px 1727px #FFF, 32px 1759px #FFF, 182px 1186px #FFF, 1943px 1838px #FFF, 91px 1083px #FFF, 1148px 1269px #FFF, 1094px 107px #FFF, 237px 1143px #FFF, 1418px 126px #FFF, 582px 1162px #FFF, 458px 934px #FFF, 1098px 273px #FFF, 668px 273px #FFF, 761px 319px #FFF, 1671px 541px #FFF, 762px 1858px #FFF, 1398px 1760px #FFF, 1378px 44px #FFF, 894px 976px #FFF, 1496px 747px #FFF, 1845px 434px #FFF, 1218px 1006px #FFF, 459px 571px #FFF, 34px 1954px #FFF, 220px 1024px #FFF, 1915px 297px #FFF, 531px 900px #FFF, 1166px 1032px #FFF, 424px 78px #FFF, 1485px 557px #FFF, 852px 1672px #FFF, 1155px 1189px #FFF, 1693px 85px #FFF, 1462px 1788px #FFF, 1234px 1993px #FFF, 1124px 216px #FFF, 1694px 1980px #FFF, 1992px 646px #FFF, 133px 122px #FFF, 1022px 1016px #FFF, 1394px 1756px #FFF, 863px 986px #FFF, 41px 545px #FFF, 628px 1370px #FFF, 1834px 721px #FFF, 1315px 573px #FFF, 640px 1042px #FFF, 1317px 1229px #FFF, 540px 554px #FFF, 1021px 68px #FFF, 1698px 324px #FFF, 254px 1370px #FFF, 922px 1986px #FFF, 1450px 1574px #FFF, 139px 1045px #FFF, 216px 1623px #FFF, 1109px 1740px #FFF, 597px 1093px #FFF, 94px 422px #FFF, 158px 1942px #FFF, 1832px 206px #FFF, 1849px 724px #FFF, 940px 445px #FFF, 1656px 1021px #FFF, 142px 115px #FFF, 1675px 865px #FFF, 839px 890px #FFF, 1203px 1232px #FFF, 1341px 719px #FFF, 1212px 1794px #FFF, 408px 604px #FFF, 1211px 1696px #FFF, 1506px 66px #FFF, 1058px 1163px #FFF;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-2000px);
    }
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -10000px 5000px;
    }
  }

  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -10000px 5000px;
    }
  }

  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -10000px 5000px;
    }
  }

  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -10000px 5000px;
    }
  }

  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 10000px 0;
    }
  }

  @-webkit-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 10000px 0;
    }
  }

  @-moz-keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 10000px 0;
    }
  }

  @-ms-keyframes move-clouds-back {
    from {
      background-position: 0;
    }

    to {
      background-position: 10000px 0;
    }
  }
</style>
{% endblock %}